<%= render "shared/devise_alerts" %>
<blockquote class="blockquote-reverse">
  <p>GroopiePets</p>
  <footer>to pets lovers</footer>
</blockquote>
<div class="gallery row">
</div>
<div class='close-form' style="display: none;">close the form</div>
<%= render "shared/devise_log_out" %>
<%= render 'shared/modal_form' %>