<%= render "shared/devise_alerts" %>
<blockquote class="blockquote-reverse">
  <p>GroopiePets</p>
  <footer>to pets lovers</footer>
</blockquote>
<span id="plus-pet">ADD</span>
<div class="gallery row">
</div>
<%= render "shared/devise_log_out" %>
<%= render 'shared/modal_form' %>