<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GroopiePets</title>
  <meta content="Enseña tus mascotas a otros usuarios." name="description">
  <meta content="Raúl Cabrera Medina" name="author">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
